repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
  - repo: https://github.com/mpalmer/action-validator
    rev: v0.5.4
    hooks:
      - id: action-validator
