{
	email {$MAIL_USERNAME}
}
{$DOMAIN} {
	handle {
		root * /src/frontend/dist
		try_files {path} /index.html
		encode gzip
		file_server
	}

	handle /api/* {
		reverse_proxy spotifydwapi:{$PORT:-8888}
	}
}
