.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.circle {
  /* background-color: red; */
  background: radial-gradient(
    circle,
    rgba(3, 255, 28, 1) 0%,
    rgba(40, 137, 238, 1) 32%,
    rgba(195, 106, 227, 1) 52%,
    rgba(159, 6, 213, 1) 88%,
    rgba(237, 6, 158, 1) 100%
  );
  width: 200px;
  height: 200px;
  background-position: center;
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  /* background-size: 100% 100%; */
  overflow: hidden;
  animation:
    morph 3s linear infinite;
  /*   Gradient 3s ease-in-out infinite; */
  /* gradient-reverse 3s 3s ease-in-out infinite; */
}
/* .circle img {
  width: 100%;
} */

@keyframes morph {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}
@keyframes Gradient {
  0% {
    background-color: red;
    background-size: 100% 100%;
  }
  34% {
    background-color: blue;
    background-size: 300% 300%;
  }
  67% {
    background-color: yellow;
    background-size: 500% 500%;
  }
  100% {
    background-color: red;
    background-size: 100% 100%;
  }
}

/* @keyframes gradient-reverse {
  0% {
    background-size: 100% 100%;
  }
  34% {
    background-size: 300% 300%;
  }
  67% {
    background-size: 500% 500%;
  }
  100% {
    background-size: 100% 100%;
  }
} */

.circle__main {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0;
  width: 0;
  transform: translate(-50%, -50%);
  animation: 10s circle__animation ease-in-out infinite;
}

.circle__0 {
  background: radial-gradient(circle, transparent, rgba(3, 255, 28, 1), transparent);
  animation-delay: 0s;
}

.circle__1 {
  background: radial-gradient(circle, transparent, rgba(40, 137, 238, 1), transparent);
  animation-delay: 2s;
}

.circle__2 {
  background: radial-gradient(circle, transparent, rgba(195, 106, 227, 1), transparent);
  animation-delay: 4s;
}

.circle__3 {
  background: radial-gradient(circle, transparent, rgb(231, 0, 0), transparent);
  animation-delay: 6s;
}

.circle__4 {
  background: radial-gradient(circle, transparent, rgba(237, 6, 158, 1), transparent);
  animation-delay: 8s;
}

@keyframes circle__animation {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  /* 20% {
    top: 30px;
    left: 30px;
  }
  40% {
    top: 50px;
    left: -50px;
  }
  75% {
    top: -30px;
    left: 30px;
  } */
  100% {
    /* top: 0px;
    left: 0px; */
    height: 700px;
    width: 700px;
    opacity: 0;
  }
}
