<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/twstyles.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}"> -->
    <script defer src="{{ url_for('static', path='scripts/bundle.js') }}"></script>
    <!-- Hot reload script -->
    {% if DEBUG %} 
        {{ hot_reload.script(url_for('hot-reload')) | safe }} 
    {% endif %}
    <!-- tailwindcss CND -->
    <!-- <script defer src="https://cdn.tailwindcss.com"></script> -->
    <link rel="shortcut icon" type="image/png"
        href="https://cdn.icon-icons.com/icons2/1132/PNG/512/1486348532-music-play-pause-control-go-arrow_80458.png" />
    <title>{% block title %} {%endblock%}</title>
</head>

<body class="bg-fuchsia-400 
bg-[linear-gradient(45deg,_#FA8BFF_0%,_#2BD2FF_52%,_#2BFF88_90%)]">
    <div class="cont">
        <!-- dsfgag -->
    </div>
    {%block content%} {%endblock%}

</body>

</html>