{% extends 'base.html' %}
{%block title%} DW Saver Home {%endblock%}

{%block content%}
    <div id="main">
        <div id="app"></div>
    </div>

    <div id="BlobSvg" 
        class="{{ url_for('static', path='images/Blob.svg') }}">
    <!-- <img id="" class="img-responsive [clip-path:circle(70%_at_20%_30%)]"
    src="{{ url_for('static', path='images/Ai_Nav.png') }}" 
    alt="pic" >
    <img class="img-responsive [clip-path:circle(70%_at_20%_70%)]"
    src="{{ url_for('static', path='images/Ai_Nav.png') }}" 
    alt="pic" > -->
{%endblock%}