@tailwind base;
@tailwind components;
@tailwind utilities;

.header__burger-menu {
    transition: opacity 0.2s linear;
}

.header__burger-menu:hover {
    cursor: pointer;
    opacity: 0.7;
}
.header__burger-menu {
    display: block;
    position: relative;
    width: 22px;
    height: 22px;
    top: 25px;
    right: -45px;
    z-index: 3;
}
.header__burger-menu span,
.header__burger-menu::after,
.header__burger-menu::before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: black;
    margin: 0 auto;
}

.header__burger-menu span {
    top: 19px;
    transition: all 0.2s linear;
}

.header__burger-menu::after,
.header__burger-menu::before {
    content: '';
}

.header__burger-menu::after {
    bottom: 8px;
    transition: all 0.2s linear;
}

.header__burger-menu::before {
    top: 3px;
    transition: all 0.2s linear;
}

.header__burger-menu.header__burger-menu_active::before {
    transform: rotate(45deg);
    top: 9px;
}

.header__burger-menu.header__burger-menu_active::after {
    transform: rotate(-45deg);
    top: 9px;
}

.header__burger-menu.header__burger-menu_active span {
    transform: scale(0);
}
.popup {
    display: none;
    height: 300px;
    width: 200px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    background: rgb(34, 193, 195);
    /* background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(45, 253, 48, 1) 100%); */
    padding: 0;
    margin-left: calc((100vw - 320px) / 2);
}
.popup_open {
    display: flex;
}

/* width */
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: linear-gradient(225deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
}

.firefox-scrollBar {
    scrollbar-width: 16px;
    scrollbar-color: red blue;
}

.btn {
    transition: all 0.2s linear;
    /* position: absolute; */
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* styles for checkbox */
.check {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.check + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.check + label::before {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #fff;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    transition: border 0.1s linear;
}

.check:hover + label::before {
    border: 2px solid rgb(28, 100, 242);
}

.check:checked + label::before {
    border: none;
}

.check:checked + label::before {
    border-color: rgb(28, 100, 242);
    background-color: rgb(28, 100, 242);
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
}

.modal {
    position: absolute;
    opacity: 1;
    transform: scale(0.5);
    transition: all 0.2s linear;
}

.modal_active {
    transform: scale(1);
}
