@import './utils/tw-colors.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .ff-scrollbar {
    scrollbar-color: rgb(75 85 99) rgba(255, 255, 255, 0);
  }
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: linear-gradient(225deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(75 85 99);
    border-radius: 100vh;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(107 114 128);
  }

  /* TODO: temporay fix until all old buttons removed and only ShadCn buttons left*/
  .btn {
    @apply transition-transform duration-200 ease-in-out hover:-translate-y-0.5 hover:shadow-lg active:translate-y-0.5;
  }
}

/* styles for checkbox */
.check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.check + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.check + label::before {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #fff;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  transition: border 0.1s linear;
}

.check:hover + label::before {
  border: 2px solid rgb(28, 100, 242);
}

.check:checked + label::before {
  border: none;
}

.check:checked + label::before {
  border-color: rgb(28, 100, 242);
  background-color: rgb(28, 100, 242);
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
}

.main-background {
  background: var(--main-background);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  :root {
    /* background of the whole page */
    --main-background: linear-gradient(
      45deg,
      var(--color-fuchsia-400) 0%,
      var(--color-cyan-300) 52%,
      var(--color-green-400) 90%
    );
    /* fall-back to main-background */
    --background: var(--color-slate-100);

    /* text color on top level elements */
    --foreground: var(--color-slate-900);

    /* buttons color, ui elements fill */
    --primary: var(--background);
    /* slate-100 */
    --primary-foreground: var(--foreground);

    /* buttons for user actions */
    --secondary: var(--color-emerald-600);
    /* text color */
    --secondary-foreground: var(--primary);

    /* buttons for important actions */
    --third: var(--color-yellow-600);
    --third-foreground: var(--color-black);

    --accent: hsl(from var(--background) h s calc(l - 20));
    --accent-foreground: hsl(from var(--foreground) h s calc(l + 20));

    --destructive: var(--color-red-500);
    /* text color */
    --destructive-foreground: var(--primary);

    /* inactive or not important elements */
    --muted: hsl(217.2 32.6% 17.5%);
    /* muted text color */
    --muted-foreground: var(--color-slate-500);

    /* background color for big elements like forms */
    --card: 0 0% 100%;
    /* unused yet */
    --card-foreground: hsl(222.2 84% 4.9%);

    --input: var(--color-slate-200);
    /* ring color around focused elements */
    --ring: var(--color-slate-500);
    --border: var(--background);

    --popover: var(--background);
    --popover-foreground: var(--foreground);
    --radius: 1rem;
  }

  .dark {
    --main-background: linear-gradient(
      45deg,
      var(--color-fuchsia-800) 0%,
      var(--color-cyan-900) 52%,
      var(--color-green-800) 90%
    );
    --background: var(--color-slate-100);
    --foreground: var(--color-slate-900);
    --border: var(--color-slate-800);
    --primary: var(--color-slate-800);
    --primary-foreground: var(--background);
    --secondary: var(--color-green-800);
    --secondary-foreground: var(--color-slate-100);
    --third: var(--color-yellow-800);
    --destructive: var(--color-red-700);
    --destructive-foreground: var(--foreground);

    --accent: hsl(from var(--background) h s calc(l + 20));
    --accent-foreground: hsl(from var(--foreground) h s calc(l - 20));
  }

  .office-light {
    --main-background: var(--color-slate-100);
    --background: var(--color-slate-200);
    --foreground: var(--color-slate-800);
    --secondary: var(--color-slate-500);
    --third: var(--color-slate-600);
  }
  .office-dark {
    --main-background: var(--color-slate-900);
    --background: var(--color-slate-800);
    --foreground: var(--color-slate-200);
    --secondary: var(--color-slate-400);
    --third: var(--color-slate-500);
  }
}
