@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .ff-scrollbar {
    scrollbar-color: rgb(75 85 99) rgba(255, 255, 255, 0);
  }
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: linear-gradient(225deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(75 85 99);
    border-radius: 100vh;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(107 114 128);
  }
}

.btn {
  transition: all 0.2s linear;
  /* position: absolute; */
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* styles for checkbox */
.check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.check + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.check + label::before {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #fff;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  transition: border 0.1s linear;
}

.check:hover + label::before {
  border: 2px solid rgb(28, 100, 242);
}

.check:checked + label::before {
  border: none;
}

.check:checked + label::before {
  border-color: rgb(28, 100, 242);
  background-color: rgb(28, 100, 242);
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
}

.main-background {
  background: var(--main-background);
}

@layer base {
  :root {
    --main-background: linear-gradient(
      45deg,
      #fa8bff 0%,
      #2bd2ff 52%,
      #2bff88 90%
    );
    --background: 240, 5%, 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    /* --primary: rgb( 0 255 0); */
    /* --primary: hsl(217 91% 60%); */
    /* --primary: #60a5fa; */
    /* --aboba: #60a5fa; */
    /* --primary: var(--aboba); */
    --primary: #ffffff;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 1rem;
  }

  .dark {
    --main-background: var(--primary);

    /* blue-950 */
    --primary: #172554;

    --primary-foreground: hsl(222.2 47.4% 11.2%);

    --background: hsl(222.2 84% 4.9%);
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
